/* Make the whole screen cover */
.lightDarkMode {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.9s ease; /* Smooth transition for background color */
}

.lightDarkMode.light {
    background-color: #ffffff; /* Light theme background */
    color: #000000; /* Light theme text color */
}

.lightDarkMode.dark {
    background-color: #333333; /* Dark theme background */
    color: #ffffff; /* Dark theme text color */
}

.containerLD {
    text-align: center;
    padding: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
